<div class="container">
  <h2>Edit Todo</h2>
  <form >
    <div class="form-group">
      <label for="todo-title">Title:</label>
      {{input type="text" value=this.model.title id="todo-title" class="form-control" placeholder="Enter title"}}
    </div>
    <button {{action 'saveTodo' model}} type="submit" class="btn btn-primary">Update</button>
  </form>
</div>